<div class="mt-3">

<h4 class="border-bottom my-5 text-muted">SIGMAP 2018<small> - User profile</small></h4>


<div class="fos_user_user_show">
    <p class="">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
</div>

    <a class="btn btn-primary" href="{{ path('user_index') }}">Regresar</a>