{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <h3 class="my-5 text-muted">SIGMAP 2018 - {{ user.name }} {{ user.surname }}<small><br>Support application form</small></h3>

            {{ form_start(form) }}
            <div class="form-group">
                <label for="inputType"><strong>Kind of support requested</strong></label>
                <span class="text-danger">{{ form_errors(form.type) }}</span>
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label for="inputStudies"><strong>Level of your current studies</strong></label>
                <span class="text-danger">{{ form_errors(form.studies) }}</span>
                {{ form_widget(form.studies, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label for="inputReasons"><strong>Your reasons to attend SIGMAP 2018</strong></label>
                <span class="text-danger">{{ form_errors(form.reasons) }}</span>
                {{ form_widget(form.reasons, {'attr': {'class': 'form-control', 'rows':'4'}}) }}
            </div>
            <div>
                <p class="lead">Email address of two professors willing to recommend your attendance to SIGMAP:</p>
            </div>
            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Professor 1</h5>
                    <div class="form-group">
                        <label for="inputProf1">Profesor's name</label>
                        <span class="text-danger">{{ form_errors(form.prof1) }}</span>
                        {{ form_widget(form.prof1, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="inputEmailProf1">Email</label>
                        <span class="text-danger">{{ form_errors(form.mailprof1) }}</span>
                        {{ form_widget(form.mailprof1, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Professor 2</h5>
                    <div class="form-group">
                        <label for="inputProf1">Profesor's name</label>
                        <span class="text-danger">{{ form_errors(form.prof2) }}</span>
                        {{ form_widget(form.prof2, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="inputEmailProf1">Email</label>
                        <span class="text-danger">{{ form_errors(form.mailprof2) }}</span>
                        {{ form_widget(form.mailprof2, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            {{ form_widget(form) }}


            <input class="btn btn-primary mb-5" type="submit" value="Submit" />
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
