{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {#<section class="jumbotron text-center">#}
                {#<div class="dash-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">#}
                    {#<h1 class="display-4 text-muted">SIGMAP 2018</h1>#}
                    {#<p class="lead">#}
                        {#<span class="text-muted">Monday June 25th to Friday June 29th, 2018.</span><br><br>#}

                        {#The edition 2018 of the workshop Symmetries in Graphs, Maps and Polytopes (SIGMAP) will be held at the Campus in Morelia of the National Autonomous University of Mexico.#}
                    {#</p>#}
                {#</div>#}
            {#</section>#}

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ user.name }} {{ user.surname }}</li>
                </ol>
            </nav>
            {#{% if user.payment %}#}
                {#<div class="alert alert-success my-4"><i class="fa fa-check"></i> Payment sent</div>#}
            {#{% else %}#}
                {#<div class="alert alert-warning my-4"><i class="fa fa-minus-circle"></i> Payment pending</div>#}
            {#{% endif %}#}
            <div class="row">
                <div class="col-md-6">
                    <div class="card border-3">
                        <div class="card-header"><h5 class="text-primary"><b>{{ user.surname|title }} {{ user.name|title }}</b><br>
                                <small class="text-muted">{{ user.email }}</small></h5></div>
                        <div class="card-body text-secondary">
                            {{ user.affiliation }}<br>
                            {{ user.citizenship }}<br>
                            Student: {{ user.student ? 'Yes': 'No' }}<br>
                            Arrival date: {{ user.arrival ? user.arrival|date('Y-m-d') : 'Not set' }}<br>
                            Departure date: {{ user.arrival ? user.departure|date('Y-m-d') : 'Not set' }}<br>
                            Dietary restrictions: {{ user.diet }}<br>
                        </div>
                    </div>
                </div>
                {% if user.support %}
                    <div class="col-md-6">
                        <h5 class="mb-3 text-primary"><b>Finantial support</b></h5>
                        {% if user.student %}
                            {% if user.support %}

                                {{ user.support.type }}<br>
                                {{ user.support.studies }}<br>

                                {#** Botón evaluar#}

                            {% else %}
                                <p class="my-1 text-muted">
                                    No
                                </p>

                            {% endif %}
                        {% else %}

                        {% endif %}
                    </div>
                {% endif %}
            </div>

            {% if user.poster %}
                <h4 class="my-4"><i class="fa fa-check text-success"></i> Poster</h4>
            {% endif %}

            {% if user.abstract %}

                <h3 class="py-2 border-bottom">{{ user.title }}</h3>
                <p class="my-3">
                <h5 class="text-muted">Abstract</h5>
                {{ user.abstract|raw }}
                </p>

                <button type="button" class="btn btn-primary my-5" data-toggle="modal" data-target="#evalModal">
                    <i class="fa fa-check" aria-hidden="true"></i> Evaluate
                </button>
            {% endif %}


        </div>

    {% block javascripts %}

        {{ parent() }}
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
        <script type="text/javascript" async
                src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>

    {% endblock %}
{% endblock %}
