{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="text-muted">Talks</h3>
    {% for speaker in speakers %}
        <div class="card my-4 text-muted">
            <div class="card-body">
                <p class="card-text lead">{{ speaker.name }} {{ speaker.surname }} <small>{{ speaker.affiliation }}</small></p>
                <h4>{{ speaker.title }}</h4>
                <p class="card-text">{{ speaker.abstract }}</p>
            </div>
        </div>

    {% endfor %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

{% endblock %}