{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="mt-3">
    <h4 class="border-bottom my-5">SIGMAP 2018<small> | Confirmed</small></h4>

    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {#{% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}#}
        {% if targetUrl is not empty %}<p><a class="btn btn-primary" href="{{ targetUrl }}">Next</a></p>{% else %}
            <p><a class="btn btn-primary" href="{{ path('user_index') }}">Next</a></p>
        {% endif %}

    {% endif %}

        {% endblock fos_user_content %}
